# Dart & Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
devtools_options.yaml

# VS Code
.vscode/*
!.vscode/tasks.json

# Other
.idea/
*.iml
*.log
*.tmp
*.swp
*.swo

# Coverage
coverage/

# Misc
.DS_Store
Thumbs.db

# Ignore pubspec.lock at workspace root (only keep in packages)
pubspec.lock
